.home{
    width: 100%;
    height: calc(100% - 80px);
    position:absolute;
    top:80px;
}


.heading{
    font-size: 4rem;
    animation: fadeInUp 0.8s ease-in-out forwards;
}

.slogan{
    font-weight: bolder;
}


.slogan {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}





@media ( width <= 1030px ){
    .heading{
        font-size: 2.5rem;
    } 

    .section1-container{
        flex-direction: column;
    }

    .main-headers-container,.main-image-container{
        width:100%;
        height: 50%;
        justify-content: space-center;
    }

    .slogan,.title{
        text-align: center;
        white-space: wrap;
    }

    .title{
        line-height: 35px;
        margin-bottom: 20px;
    }

    .slogan{
        font-size: 1.7rem;
        
    }

    .about-image{
        display: none;
    }

    .about-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    
}

.whatsapp-container{
    width:100vw;
    max-width:500px;
    min-width:200px;
    height: 150px;
    background-color: #383BEC;
    border-radius: 14px;
}
